trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: nsbyadav14e/siva5

steps:
- task: Maven@4
  displayName: 'Maven my-app/pom.xml'
  inputs:
    azureSubscription: AzureSPConnection
    mavenPomFile: 'my-app/pom.xml'

steps:
- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline Artifact'
  inputs:
    targetPath: '$(build.artifactstagingdirectory)'
    artifact: drop

steps:
- task: Docker@2
  displayName: buildAndPush
  inputs:
    containerRegistry: DockerHubConnection
    repository: nsbyadav14e/siva5
    Dockerfile: 'my-app/Dockerfile'
    tags: latest

steps:
- task: KubectlInstaller@0
  displayName: 'Install Kubectl latest'

steps:
- task: Kubernetes@1
  displayName: 'kubectl apply'
  inputs:
    connectionType: 'Azure Resource Manager'
    azureSubscriptionEndpoint: AzureSPConnection
    azureResourceGroup: rg01shiva
    kubernetesCluster: cluster01
    namespace: default
    command: apply
    useConfigurationFile: true
    configuration: '$(System.DefaultWorkingDirectory)/_maven-repo/my-app/azure-pipelines.yml'
    containerRegistryType: 'Container Registry'
    dockerRegistryEndpoint: DockerHubConnection
